<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO-2Q_yh4JtoxZR9fHVRjvL5jO1pLORcY</string>
	<key>GCM_SENDER_ID</key>
	<string>87568761376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marcos.barbosa.QuizFrench</string>
	<key>PROJECT_ID</key>
	<string>quizfrench-9c9b9</string>
	<key>STORAGE_BUCKET</key>
	<string>quizfrench-9c9b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87568761376:ios:e53f3d637e8487f3683245</string>
	<key>DATABASE_URL</key>
	<string>https://quizfrench-9c9b9-default-rtdb.firebaseio.com</string>
</dict>
</plist>